# Environment
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
financial_rag_venv/
financial_rag_venv


# Data & Models
data/
logs/
*.log
*.pkl
*.pt
*.bin

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
